<!-- client/app/main/main.html -->

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div ng-show="message.show" class="alert {{message.type}}">{{message.content}}</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <th>Floor</th>
      <th>No. of People</th>
      <th>Level you wish to go to</th>
      <th>Elevator A</th>
      <th>Elevator B</th>
      <th>Elevator C</th>
      <th>Elevator D</th>
      <tr ng-repeat="floor in floors">
        <td>{{ floor.level }}</td>
	<td>
	  <form class="form-inline" role="form">
	     <div class="form-group">
	        <label class="sr-only" for="floor.level">No. of people</label>
		<input type="text" class="form-control" id="floor.level" ng-model="floor.people" placeholder="Enter amount of people">
            </div>	    
	  </form>
	</td>
	<td>
	  <div class="form-group">
	    <select ng-model="floor.toLevel" ng-options="choice.level for choice in floors"></select>
	    <button type="button" ng-click="callNearestElevator(floor)" class="btn btn-success pull-right">Go!</button> 
          </div>
	</td>
	<td ng-repeat="elevator in elevators"><div ng-if="floor.level != elevator.currentLevel">-</div><div ng-if="floor.level == elevator.currentLevel">{{elevator.people}}{{elevator.state}}</div></td>
      </tr> 
    </table>
  </div>
	
</div>
